body{
    background-color: #023047;
}
.header{
    background-color: #fb8500; 
  
    background-size: contain;
    float: left;
    display: block;
    color: rgb(0, 0, 0); 
    border-radius: 15px;   
} 
.title{
    color: #023047;
   
    

}
.footer{
    background-color: #fb8500; 
    position: fixed;
    bottom: 0%;
  width: 99%;
    color: rgb(0, 0, 0); 
    border-radius: 15px;
  
    
}
.end{
    color: #023047;  
    text-align: center
;
    

}

.container{
    display: flex;
width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
 
  position: absolute;
  flex-direction: row; 
  justify-content: center;
  align-items: center;
    flex-direction: row;
   flex-wrap:wrap;
   
   gap: 100px;
   
  
   
}
.expenselist{

    order:1;
    background-color: #fb8500; 
    border-radius: 25px;
  
}
.form{
    order: 2;

   background-color: #fb8500; 
   border-radius: 25px;
   
}
.possiblemeters{
    order: 3;
    background-color: #fb8500; 
    border-radius: 25px;
 
}

