.container{
    display: flex;
  }

  .meteroutline{  
      background-color: #505050;
      
      width: 100%;
      border-radius: 20px;
     
   
  }
.shell{  
  display: flex;
  background-color: #272727; 
  
  flex-direction: column;
  

  width: 50%;
  border-radius: 20px;
 justify-content: space-evenly;

}

.percentfilled{
  background-color: #FF652F;
  color: white;
  padding:10px;
  text-align:right;
  border-radius: 20px;

}